* {
    background-color: #1b1c1d;
    font-family: 'Google Sans', Arial, sans-serif;
}

/* Side Bar */
.sidebar {
    height: 100%;

    width: 75px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #282a2c;

    overflow-x: hidden;
    padding-top: 20px;

    transition: width 0.5s ease;
}

/* Side Bar Hover */
.sidebar:hover {
    width: 250px;
}


/* Side Bar Menu */
.sidebar a {
    background-color: #282a2c;
    padding: 10px;
    padding-left: 40px;
    height: 50px;
    text-decoration: none;
    font-size: 15px;
    color: #a2a9b0;

    display: flex;
    align-items: center;

    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease 0.2s;
    border-radius: 100px;
}

.sidebar a:hover {
    background-color: #323537;
}

.sidebar:hover a {
    opacity: 1;
}

/* Main Content Transistion */
.main-content {
    text-align: center;

    transition: margin-left 0.5s ease;
    color: white;
}

.sidebar:hover ~ .main-content {
    margin-left: 225px;
}