<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>Music Management</title>
        <link rel="stylesheet" href="/static/homeStyle.css">
    </head>

    <body>
        <div class="sidebar" id="mySidebar">
            <a href="user.html">Quản Lý Người Dùng</a>
            <a href="song.html">Quản Lý Bài Hát</a>
            <a href="artist.html">Quản Lý Nghệ Sĩ</a>
        </div>

        <div class="main-content" id="mainContent">
            <h1>Chào mừng bạn đến với trình Quản Lý Thư Viện Nhạc</h1>
        </div>

        <script src="/static/js/home.js"></script>
    </body>
</html>