<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>Quản lý nhạc</title>
        <link rel="stylesheet" href="/static/homeStyle.css">
    </head>

    <body>
        <button class="menu-toggle" onclick="toggleMenu()">&#9776;</button>

        <div class="sidebar" id="mySidebar">
            <a href="#home">Quản Lý Người Dùng</a>
            <a href="#services">Quản Lý Bài Hát</a>
            <a href="#about">Quản Lý Nghệ Sĩ</a>
            <button class="close-btn" onclick="toggleMenu()">&times;</button>
        </div>

        <div class="main-content" id="mainContent">
            <h1>Quản Lý Thư Viện Nhạc</h1>
        </div>

        <script src="/static/js/home.js"></script>
    </body>
</html>