<div class="container-fluid py-4">
    <h2 class="pb-2 mb-4">Quản Lý Bài Hát <i class="bi bi-music-note-list"></i></h2>

    <div class="d-flex gap-3 mb-4">
        <button class="btn shadow-sm">Thêm</button>
        <input type="text" placeholder="Tìm kiếm..." class="form-control" style="width: 300px;">
        <select class="form-select w-auto">
            <option selected>Thể Loại</option>
            <option value="pop">Pop</option>
        </select>
    </div>

    <div class="card bg-secondary-subtle border-0">
        <div class="card-body p-0">
            <table class="table table-dark table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên Bài Hát</th>
                        <th scope="col">Nghệ Sĩ</th>
                        <th scope="col">Thời Lượng</th>
                        <th scope="col">Lượt Nghe</th>
                        <th scope="col">Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    <td>01</td>
                    <td>Đừng làm trái tim anh đau</td>
                    <td>Sơn Tùng MTP</td>
                    <td>3:20</td>
                    <td>120</td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2">Sửa</button>
                        <button class="btn btn-sm btn-danger">Xóa</button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>