<div class="container-fluid py-4">
    <h2 class="pb-2 mb-4">Quản Lý Người Dùng <i class="bi bi-people"></i></h2>

    <div class="d-flex gap-3 mb-4">
        <button class="btn shadow-sm">Thêm</button>
        <input type="text" placeholder="Tìm kiếm..." class="form-control" style="width: 300px;">
    </div>

    <div class="card bg-secondary-subtle border-0">
        <div class="card-body p-0">
            <table class="table table-dark table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên Người Dùng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    <td>01</td>
                    <td>Trần Sơn</td>
                    <td>tdts2005304@gmail.com</td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2">Sửa</button>
                        <button class="btn btn-sm btn-danger">Xóa</button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>