<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Artist Management</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>

    <body>
        <div class="sidebar" id="mySidebar">
            <div class="menu-indicator">
                <i class="bi bi-list fs-3"></i>
            </div>

            <a th:href="@{users}" class="d-flex align-items-center"><i class="bi bi-people me-3 fs-5"></i>User</a>
            <a th:href="@{artists}" class="d-flex align-items-center"><i class="bi bi-person-badge me-3 fs-5"></i>Artist</a>
            <a th:href="@{songs}" class="d-flex align-items-center"><i class="bi bi-music-note-list me-3 fs-5"></i>Song</a>
            <a th:href="@{genres}" class="d-flex align-items-center"><i class="bi bi-music-note-beamed me-3 fs-5"></i>Genre</a>

        </div>

        <div class="main-content" id="mainContent">
            <div class="container-fluid py-4">
                <h2 class="pb-2 mb-4">Artist <i class="bi bi-person-badge"></i></h2>

                <div class="d-flex gap-3 mb-4">
                    <button class="btn btn-success shadow-sm">Add</button>
                    <input type="text" placeholder="Search..." class="form-control bg-transparent" style="width: 300px;">
                </div>

                <div class="card bg-secondary-subtle border-0">
                    <div class="card-body p-0">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Artist Name</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Number Of Song</th>
                                    <th scope="col">Option</th>
                                </tr>
                            </thead>
                            <tbody id="artistTableBody">
                                <!--Du lieu-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/artists.js}"></script>
    </body>
</html>
