<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản lý bài hát</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" th:href="@{/img/logo/song-logo.svg}" type="image/svg+xml">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div class="side-bar">
    <a href="#" class="menu-indicator d-flex align-items-center"><i class="bi bi-list me-3 fs-5"></i></a>
    <a th:href="@{/}" class="d-flex align-items-center"><i class="bi bi-house-door me-3 fs-5"></i><span>Home</span></a>
    <a th:href="@{/users}" class="d-flex align-items-center"><i class="bi bi-people me-3 fs-5"></i><span>User</span></a>
    <a th:href="@{/artists}" class="d-flex align-items-center"><i class="bi bi-person-badge me-3 fs-5"></i><span>Artist</span></a>
    <a th:href="@{/songs}" class="d-flex align-items-center"><i class="bi bi-music-note-list me-3 fs-5"></i><span>Song</span></a>
    <a th:href="@{/genres}" class="d-flex align-items-center"><i class="bi bi-music-note-beamed me-3 fs-5"></i><span>Genre</span></a>
</div>

<div class="main-content">
    <div class="container-fluid py-4">
        <h2 class="pb-2 mb-4">Bài hát <i class="bi bi-music-note-list"></i></h2>

        <div class="d-flex align-items-center gap-3 mb-4">
            <button class="btn btn-success shadow-sm" data-bs-toggle="modal" data-bs-target="#addSongModal">Thêm</button>

            <form th:action="@{/songs/search}" method="get" class="search-bar position-relative">
                <input type="text" class="form-control pe-5 bg-transparent border-secondary text-light"
                       th:value="${searchQuery}" name="keyword" placeholder="Tìm kiếm...">
                <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 text-secondary"></i>
            </form>

            <p th:text="'Số bài hát: ' + ${numberOfSongs}" class="mb-0 fw-semibold"></p>
        </div>

        <div class="card bg-secondary-subtle border-0">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Nghệ sĩ</th>
                        <th>Thể loại</th>
                        <th>Năm phát hành</th>
                        <th>Thời lượng</th>
                        <th>Đường dẫn audio</th>
                        <th>Tùy chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="song: ${songs}">
                        <td th:text="${song.id}"></td>
                        <td th:text="${song.title}"></td>
                        <td th:text="${song.artist}"></td>
                        <td th:text="${song.genre}"></td>
                        <td th:text="${song.releaseYear}"></td>
                        <td th:text="${song.duration}"></td>
                        <td><a th:href="${song.audioFilePath}" target="_blank"><i class="bi bi-info-circle-fill info-icon"></i></a></td>
                        <td>
                            <button class="btn btn-sm btn-warning me-2" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#editSongModal_' + ${song.id}">
                                <i class="bi bi-pen-fill"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#deleteSongModal_' + ${song.id}">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>

                        <!-- Modal Edit -->
                        <div class="modal fade" th:id="'editSongModal_' + ${song.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-dark text-light border-0 rounded-4 shadow-lg">
                                    <div class="modal-header border-secondary">
                                        <h5 class="modal-title">Sửa bài hát</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{'/songs/update/' + ${song.id}}" method="post"
                                              th:id="'editSongForm_' + ${song.id}">
                                            <div class="mb-3">
                                                <label class="form-label">Tiêu đề</label>
                                                <input type="text" name="title" th:value="${song.title}" class="form-control bg-transparent">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Nghệ sĩ</label>
                                                <input type="text" name="artist" th:value="${song.artist}" class="form-control bg-transparent">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Thể loại</label>
                                                <input type="text" name="genre" th:value="${song.genre}" class="form-control bg-transparent">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Năm phát hành</label>
                                                <input type="number" name="releaseYear" th:value="${song.releaseYear}" class="form-control bg-transparent">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Thời lượng</label>
                                                <input type="text" name="duration" th:value="${song.duration}" class="form-control bg-transparent">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Đường dẫn audio</label>
                                                <input type="text" name="audioFilePath" th:value="${song.audioFilePath}" class="form-control bg-transparent">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-secondary">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                        <button type="submit" class="btn btn-success"
                                                th:attr="form='editSongForm_' + ${song.id}">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Delete -->
                        <div class="modal fade" th:id="'deleteSongModal_' + ${song.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-dark text-light border-0 rounded-4 shadow-lg">
                                    <div class="modal-header border-secondary">
                                        <h5 class="modal-title">Xác nhận xóa</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có chắc chắn muốn xóa bài hát này?</p>
                                    </div>
                                    <div class="modal-footer border-secondary">
                                        <form th:action="@{'/songs/delete/' + ${song.id}}" method="post">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="addSongModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light border-0 rounded-4 shadow-lg">
            <div class="modal-header border-secondary">
                <h5 class="modal-title">Thêm bài hát mới</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/songs/create}" th:object="${songRequest}" method="post" id="addSongForm">
                    <div class="mb-3">
                        <label class="form-label">Tiêu đề</label>
                        <input type="text" th:field="*{title}" class="form-control bg-transparent">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nghệ sĩ</label>
                        <input type="text" th:field="*{artist}" class="form-control bg-transparent">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Thể loại</label>
                        <input type="text" th:field="*{genre}" class="form-control bg-transparent">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Năm phát hành</label>
                        <input type="number" th:field="*{releaseYear}" class="form-control bg-transparent">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Thời lượng</label>
                        <input type="text" th:field="*{duration}" class="form-control bg-transparent">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Đường dẫn audio</label>
                        <input type="text" th:field="*{audioFilePath}" class="form-control bg-transparent">
                    </div>
                </form>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-success" form="addSongForm">Thêm</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>