<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/indexStyle.css">
</head>

<body>
    <div class="container-fluid py-4">
        <h2 class="pb-2 mb-4">Song <i class="bi bi-music-note-list"></i></h2>

        <div class="d-flex gap-3 mb-4">
            <button class="btn btn-success shadow-sm" data-bs-toggle="modal" data-bs-target="#addSongModal">Add</button>
            <input type="text" placeholder="Search..." class="form-control bg-transparent" style="width: 300px;">
            <select class="form-select w-auto">
                <option selected>Genre</option>
                <option value="pop">Pop</option>
                <option value="jazz">Jazz</option>
                <option value="rock">Rock</option>
                <option value="ballad">Ballad</option>
            </select>
        </div>

        <div class="card bg-secondary-subtle border-0">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Release Year</th>
                            <th scope="col">Duration</th>
                            <th scope="col">File Path</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                            <!--Du lieu-->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="addSongModal" tabindex="-1" aria-labelledby="addSongModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0">
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="card" style="width: 500px; background-color: #323537; border-width:4px;">
                            <div class="card-body">
                                <h5 class="card-title text-center mb-4">Add Song</h5>
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label">Title</label>
                                        <input type="text" class="form-control bg-transparent" placeholder="Title...">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Artist</label>
                                        <input type="text" class="form-control bg-transparent" placeholder="Name...">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Release Year</label>
                                        <input type="number" class="form-control bg-transparent" placeholder="Year...">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Duration</label>
                                        <input type="text" class="form-control bg-transparent" placeholder="Duration...">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">File Path</label>
                                        <input type="url" class="form-control bg-transparent" placeholder="Path...">
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
